@import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/typography.css');
@import url('./layout/grid.css');
@import url('./layout/magazine-layout.css');
@import url('./layout/responsive.css');
@import url('./components/header.css');
@import url('./components/navigation.css');
@import url('./components/cards.css');
@import url('./components/buttons.css');
@import url('./components/forms.css');
@import url('./utilities/animations.css');
@import url('./utilities/gradients.css');
@import url('./utilities/helpers.css');
@import url('./pages/home.css');
@import url('./pages/crafting.css');
@import url('./pages/objects.css');
@import url('./pages/personaje.css');
@import url('./pages/guia.css');
@import url('./pages/supervivencia.css');
@import url('./pages/mapa.css');
@import url('./pages/actualizaciones.css');
